# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/
/build

# env files (.env.example is committed)
.env
.env*.local
.env.production
.env.development

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local-only
/misc/
.DS_Store
*.pem
npm-debug.log*
.pnpm-debug.log*
.idea/
.vscode/
